html, body {
  background-color: #008081;
  cursor: url('/assets/img/cursors/arrow.png'), auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  transform: scale(1.1);
}

button:hover {
  cursor:url('/assets/img/cursors/pointer.png'), auto;
}

.landing-dialog {
  margin: 32vh auto;
  width: 512px;
  height: 128px;
}

.landing-body {
  display: flex;
  flex-direction: column;
  height: 96px;
}

.landing-button {
  justify-content: flex-end;
  margin-top: auto;
}
